:root {
  --lightest-green: #f0fdf4;
  --darkest-green: #052e16;
  --mid-green: #22c55e;
  --mid-wood: #704327;
  --light-wood: #deb887;
}

.about-header {
  display: flex;
  place-content: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
  align-items: center;
  background: url(../assets/worker-tea-plantation.jpg) no-repeat center;
  background-size: 100%;
  padding: 10vw 0;
}

.about-main {
  margin-bottom: 2rem;
}

.about-img-text {
  color: var(--lightest-green);
  font-size: clamp(20px, 3vw, 50px);
  text-align: center;
  background-color: rgba(20, 20, 20, 75%);
  width: 40%;
}

.about-main-heading-text {
  padding: 15px 15% 15px 15%;
  font-size: clamp(13px, 1vw, 20px);
}

.about-main-heading-text > h4 {
  font-size: clamp(18px, 1.5vw, 30px);
  margin-bottom: 15px;
}

.about-main-img {
  width: auto;
  height: 45vw;
  border-radius: 20px;
}
