:root {
  --lightest-green: #f0fdf4;
  --darkest-green: #052e16;
  --mid-green: #22c55e;
  --mid-wood: #704327;
  --light-wood: #deb887;
}

.cart-list {
  padding: 0 3% 5% 3%;
}

.cart-product {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  border-top: 5px double #704327;
}

.cart-product-wrap {
  margin: 5% 0 5% 0;
  display: flex;
  align-items: center;
  gap: 8%;
  height: 100%;
}

.cart-img {
  width: 10vw;
  border-radius: 15%;
}

.cart-header {
  padding: 0 3% 2% 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  grid-auto-flow: column;
}

.product-quantity-wrap {
  display: flex;
  justify-content: center;
}

.quantity-input {
  width: 10%;
  display: flex;
  justify-self: center;
  font-size: clamp(1rem, 1.5vw, 25px);
  text-align: center;
}

.decrement-button,
.increment-button {
  width: 8%;
  font-size: clamp(0.8rem, 1.2vw, 20px);
  cursor: pointer;
  background-color: var(--light-wood);
  color: var(--darkest-green);
  border: none;
}

.decrement-button:hover,
.increment-button:hover {
  background-color: var(--mid-wood);
  color: var(--lightest-green);
}

.empty-cart-heading {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
  width: 30%;
  align-self: center;
  border-bottom: 5px double var(--mid-wood);
}

.remove-and-total {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.remove-from-cart {
  display: grid;
  place-content: center;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  padding: 4%;
  background-color: var(--light-wood);
  color: var(--darkest-green);
  border: none;
}

.remove-from-cart:hover {
  background-color: var(--mid-wood);
  color: var(--lightest-green);
  font-weight: bold;
  cursor: pointer;
}

.checkout-message {
  position: absolute;
  display: grid;
  place-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30%;
  height: 25%;
  background-color: var(--mid-wood);
  color: var(--lightest-green);
  border: 5px double var(--mid-green);
  font-size: 1.5rem;
}

.subtotal-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 5% 5% 0;
}

.subtotal-wrapper {
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
}

.checkout-button {
  margin-top: 10px;
  padding: 15px 40px;
  border: 5px double var(--darkest-green);
  background-color: var(--mid-wood);
  color: var(--lightest-green);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.checkout-button:hover {
  cursor: pointer;
  background-color: var(--mid-green);
  color: var(--darkest-green);
}

@media (max-width: 600px) {
  .cart-header {
    display: none;
  }

  .cart-product {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .cart-list {
    border-bottom: 5px double var(--mid-wood);
    margin-bottom: 1.5rem;
  }
  .cart-product-wrap {
    display: flex;
    flex-direction: column;
  }
  .cart-img {
    width: clamp(75px, 17vw, 250px);
  }
}
