:root {
  --lightest-green: #f0fdf4;
  --darkest-green: #052e16;
  --mid-green: #22c55e;
  --mid-wood: #704327;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: double 1rem var(--lightest-green);
  color: var(--lightest-green);
  padding: 1%;
  background-color: rgba(20, 20, 20, 100%);
}

h1 {
  font-size: clamp(20px, 2.2vw, 2rem);
}

.header-logo {
  width: clamp(35px, 4vw, 70px);
  height: auto;
}

.shopping-icon {
  width: 2rem;
  height: auto;
}

.left-nav {
  display: flex;
  align-items: flex-end;
  gap: 4em;
}

.site-nav > ul {
  display: flex;
  gap: 2.3rem;
  align-items: flex-end;
}

.site-nav > ul > li > a {
  color: var(--mid-green);
  font-size: clamp(15px, 2vw, 1.5rem);
  text-decoration: none;
  border-bottom: 2px solid var(--mid-green);
}

.site-nav > ul > li > a:hover {
  color: var(--lightest-green);
  border-color: var(--lightest-green);
}

.nav-products-button {
  background: none;
  border: none;
  color: var(--mid-green);
  font-size: clamp(15px, 2vw, 1.5rem);
  border-bottom: 2px solid var(--mid-green);
}

.nav-products-button:hover {
  cursor: pointer;
  color: var(--lightest-green);
  border-color: var(--lightest-green);
}

.products-dropdown-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-dropdown {
  position: absolute;
  background-color: rgba(20, 20, 20, 100%);
  top: 100%;
  padding: 1.5rem 2.5rem;
  white-space: nowrap;
  border-radius: 5px;
  transform-origin: top;
  animation: expand 500ms ease-in-out;
  font-size: clamp(11px, 1.5vw, 1.2rem);
}

.products-dropdown > li > a {
  color: var(--mid-green);
  border: none;
  text-decoration: none;
}

.products-dropdown > li > a:hover {
  color: var(--lightest-green);
  border-bottom: solid 1.5px var(--lightest-green);
}

@keyframes expand {
  0% {
    transform: scaleY(0);
    display: block;
  }
  70% {
    transform: scaleY(1.1);
    display: block;
  }
  100% {
    transform: scaleY(1);
    display: block;
  }
}

.hidden {
  display: none;
}

.shrink {
  animation: shrink 500ms ease-in-out;
  transform: scaleY(0);
}

@keyframes shrink {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.cart-link {
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 1.2rem;
}

.cart-link > img {
  padding-bottom: 5px;
}

li {
  list-style: none;
}

.mobile-site-nav {
  display: none;
}

@media (max-width: 600px) {
  .site-nav {
    display: none;
  }

  .App {
    position: relative;
  }

  .mobile-site-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: double 0.75rem var(--lightest-green);
    color: var(--lightest-green);
    padding: 1%;
    background-color: rgba(20, 20, 20, 100%);
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .right-nav > li > a {
    color: var(--mid-green);
    font-size: clamp(17px, 2vw, 1.5rem);
    text-decoration: none;
    border-bottom: 2px solid var(--mid-green);
  }

  .right-nav > li > a:hover {
    color: var(--lightest-green);
    border-color: var(--lightest-green);
  }

  .hamburger-menu {
    width: clamp(2em, 5vw, 35px);
    height: clamp(2em, 5vw, 35px);
    border: none;
    background-color: var(--mid-green);
    border-radius: 3px;
    display: grid;
    font-weight: bold;
    align-items: center;
  }

  .hamburger-menu:hover {
    background-color: var(--lightest-green);
    cursor: pointer;
  }

  .left-nav {
    gap: 1em;
  }

  .right-nav {
    display: flex;
    gap: 1em;
    align-items: center;
    margin-right: 2%;
  }

  .mobile-overlay {
    background-color: var(--darkest-green);
    position: fixed;
    bottom: 100%;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    z-index: 1;
    transform-origin: top;
    animation: expand 700ms ease-in-out;
  }

  .mobile-links {
    color: var(--mid-green);
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .mobile-links > li > * {
    color: var(--mid-green);
    font-size: clamp(25px, 2vw, 1.5rem);
  }

  .mobile-links > .products-dropdown-wrapper > .products-dropdown {
    font-size: 20px;
  }
}
