:root {
  --lightest-green: #f0fdf4;
  --darkest-green: #052e16;
  --mid-green: #22c55e;
  --mid-wood: #704327;
  --light-wood: #deb887;
  --img-overlay: rgba(112, 67, 39, 75%);
}

.products-header {
  display: flex;
  place-content: center;
  flex-direction: column;
  align-items: center;
  background: url(../assets/matcha-table-whisk.jpg) no-repeat center;
  background-size: 100%;
  padding: 10vw 0;
  /* margin-bottom: 1.5rem; */
}

.our-products-heading {
  color: var(--lightest-green);
  font-size: clamp(1.2rem, 3vw, 50px);
  text-align: center;
  background-color: rgba(20, 20, 20, 75%);
  width: 40%;
}

aside {
  width: 25vw;
  background-color: var(--mid-wood);
  position: relative;
  box-shadow: inset 0px 0px 25px var(--darkest-green);
  /* z-index: -1; */
}

aside > nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

aside > nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  padding-top: 20%;
}

aside > nav > ul > li > a {
  font-size: clamp(18px, 1.75vw, 28px);
  color: var(--lightest-green);
  text-decoration: none;
}

aside > nav > ul > li > a:hover {
  text-decoration: underline;
  color: var(--mid-green);
}

.products-with-aside {
  display: flex;
}

.products-with-aside > main {
  width: 100%;
  margin-top: 1.5rem;
}

.products-with-aside > main > h2 {
  font-size: clamp(1rem, 2.5vw, 35px);
  text-align: center;
}

.products-with-aside > main > p {
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  padding: 3vw 5vw 3vw 5vw;
  gap: 2vw;
  margin-bottom: 1.5em;
}

.product-list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-list > li > a > img {
  width: 100%;
  height: 100%;
  border: 5px double var(--mid-wood);
}

.product-img-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--img-overlay);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.product-img-wrapper {
  height: 100%;
  position: relative;
}

.product-img-wrapper:hover .product-img-overlay {
  bottom: 0;
  height: 100%;
  cursor: pointer;
}

.view-text {
  font-weight: bold;
  color: var(--lightest-green);
  font-size: clamp(15px, 3vw, 2rem);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 600px) {
  aside {
    display: none;
  }
}
