:root {
  --lightest-green: #f0fdf4;
  --darkest-green: #052e16;
  --mid-green: #22c55e;
  --mid-wood: #704327;
  --light-wood: #deb887;
  --img-overlay: rgba(112, 67, 39, 75%);
}

.details-main > img {
  width: clamp(200px, 35vw, 800px);
  border: 1rem double var(--mid-wood);
  border-radius: 10px;
}

.details-main {
  display: flex;
  padding: 2rem 11vw 2rem 11vw;
  gap: 8%;
  margin-bottom: 5%;
}

.details-right > h2 {
  font-size: clamp(23px, 1.5vw, 1.5rem);
}

.details-right {
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  gap: 2%;
}

.details-right > div > h4 {
  margin-bottom: 10px;
}

.quantity-label {
  margin-top: 0.85rem;
}

.quantity-wrapper > #quantity {
  width: 40px;
  font-size: 1.2rem;
  border: 1px solid var(--darkest-green);
}

.quantity-wrapper {
  margin-top: 5px;
  display: flex;
  align-items: center;
  height: 30px;
}

.quantity-wrapper > * {
  height: 100%;
  width: 25px;
}

.quantity-wrapper > button {
  font-weight: bold;
  font-size: 20px;
}

.quantity-error {
  color: red;
  font-size: 0.9rem;
}

.add-to-cart-button {
  padding: 15px;
  background-color: var(--mid-wood);
  color: var(--lightest-green);
  border: 4px double var(--darkest-green);
  border-radius: 5px;
  font-weight: bold;
}

.add-to-cart-button:hover {
  background-color: var(--mid-green);
  color: var(--darkest-green);
  cursor: pointer;
}

@media (max-width: 1039px) {
  .details-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details-main > img {
    margin-bottom: 2rem;
  }
}
