:root {
  --lightest-green: #f0fdf4;
  --darkest-green: #052e16;
  --mid-green: #22c55e;
  --mid-wood: #704327;
  --light-wood: #DEB887;
}

.products-header {
  display: flex;
  place-content: center;
  flex-direction: column;
  margin-bottom: 18vw;
  align-items: center;
}

header > img {
  width: 100vw;
  height: 75%;
  position: absolute;
  z-index: -1;
}

.our-products-heading {
  color: var(--lightest-green);
  font-size: clamp(1.2rem, 3vw, 50px);
  text-align: center;
  margin-top: 5%;
  background-color: rgba(20, 20, 20, 75%);
  width: 40%;
}

aside {
  width: 25vw;
  padding: 25px 0 25px 3%;
}

aside > ul {
  display: flex;
    flex-direction: column;
}
