:root {
  --lightest-green: #f0fdf4;
  --mid-green: #22c55e;
  --darkest-green: #052e16;
  --mid-wood: #704327;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

@font-face {
  font-family: 'montserrat';
  src: './src/assets/Montserrat-VariableFont_wght.ttf';
}

body {
  font-family: 'montserrat', sans-serif;
  background-color: var(--lightest-green);
  color: var(--darkest-green);
  line-height: 1.5;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  padding: 25px;
  background-color: var(--darkest-green);
  color: var(--mid-green);
  display: grid;
  place-items: center;
  margin-top: auto;
}

footer > a,
p > a {
  color: var(--mid-green);
}

footer > a:hover,
p > a:hover {
  color: var(--lightest-green);
}

footer > img {
  width: 55px;
  height: auto;
}
